<mat-toolbar color="primary" class="npd-toolbar">
	<mat-icon>sports_golf</mat-icon>
	<a [routerLink]="['/']" class="npd-title npd-title-link">
		Nice Putt Dude
	</a>
	<span class="npd-toolbar-spacer"></span>
	@if (user()) {
	<button mat-icon-button [matMenuTriggerFor]="userMenu" class="npd-avatar-btn" aria-label="User menu">
		@if (user()?.photoURL) {
		<img [src]="user()!.photoURL" class="npd-avatar" alt="User avatar" />
		} @else {
		<mat-icon class="icon-white">account_circle</mat-icon>
		}
	</button>
	<mat-menu #userMenu="matMenu">
		<button mat-menu-item (click)="signOut()">
			<mat-icon>logout</mat-icon>
			Sign out
		</button>
		<button mat-menu-item [routerLink]="'manage-profile'">
			<mat-icon>manage_accounts</mat-icon>
			Manage Profile
		</button>
	</mat-menu>
	}
</mat-toolbar>